@media only screen and (min-width: 1200px){
    .section3{
        width: 80%;
        margin: 0 auto;
  
    }

    section img{
        width: 50%;
        margin: 0 auto;
    }
    

    footer{
        width: 80%;
        margin: 0 auto;
       
    }
    .footer{
        width: 25%;
    }

    .footer-top{
        padding-bottom: 2rem;
        
    }
    
}